<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get cookies - I want the chocolate one</title>
</head>
<body>
    <h1>Ready for some cookies I've made for ya? There you go, grab it</h1>
    <p>I actually had two cookies set at your browser when you made a visit to <code>/setcookies</code> which are called <code>name</code> and <code>age</code></p>
    <p>Now, in this page, I will be getting information from those cookies.</p>
    <p>If the page is blank, then <a href="">Click here</a> to set the cookie and come back here</p>
    <ul>
        <li>My name is {{name}}</li>
        <li>My age is {{age}}</li>
    </ul>
</body>
</html>