<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forms, the old way</title>
</head>
<body>
    <h1>Still like the old age forms? I've got you one</h1>
    <form action="http://localhost:8080/input" method="POST">
        <input type="text" name="dummy"> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>