<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops, request denied</title>
</head>
<body>
    <h1>You are not allowed here</h1>
    <p>You are not allowed to see the robots.txt file.</p>
</body>
</html>