<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oops, we encountered an error</title>
</head>
<body>
    <h1>Server error encountered</h1>
    <p>We had some serious problem in our servers back there. Probably the rats bit all the wires. Forces deployed to fix that thing. Now, hold on tight.</p>
</body>
</html>