<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello there, what's up?</title>
</head>
<body>
    <h1>Welcome here, this is plain old 90s HTML page</h1>
    <p>Pff, really, This looks really awesome. Better than any design and even supports worlds oldest browser :P</p>
</body>
</html>